Python Basics Questions

1. What is Python, and why is it popular?
  -> Python is a programming language is like a set of special rules and symbols that you use to give instruction .
  why python
  1 Widely used in the industory
  2 Data  Industry
  3 A lot of libraries.
  4 Automation
  5 Image processing
  6 data bases
    -> Ease of learning
    -> Versatility - web development, machine learning etc.
    -> Readability
    -> A lot of libraries
    -> Huge active community.

2. What is an interpreter in Python?
 -> An interpreter is program that reads and executes Python code line by line, translating it into machine readanle instructions and allowing for immediate results.

3. What are pre-defined keywords in Python?
-> Keywords are predefined words that hold a special meaning and have specific purpose in python.
 Keywords in Python include: False, True, None, and, as, assert, async, await, def, del, elif, else, break, class, continue, except, finally, for, from, global, if, import, in, is, lambda, nonlocal, not, or, pass, raise, return, try, while, with and yield.

4. Can keywords be used as variable names?
-> Variable should not be keyword .
ex -:

In [ ]:
print("hello")

hello

5. What is mutability in Python?
 -> In Python , objets can be either changeable (modifiable) or unchangeable.

In [ ]:
list_cont=[1,2,3,4]
list_cont[2]= "pwskills"
list_cont

[1, 2, 'pwskills', 4]

6. Why are lists mutable, but tuples are immutable?
-> Objects / container whose state or value can be changed after they are created are called as mutable ojects or container,
list is a type mutable object/support item assignment.
-> Tuples in Python are immutable, meaning their contents cannot be changed after they are created.
Example:-

In [ ]:
my_tuple = (1,2,3)
my_tuple[0]= 4

TypeError: 'tuple' object does not support item assignment

7. What is the difference between “==” and “is” operators in Python?
-> == chechs if values of two variables are equal.
   is checks if two variables refer to the same object in memory.
Example:

In [ ]:
a = [1, 2]
b = [1, 2]
a == b # True
a is b # False

False

8. What are logical operators in Python?
-> Logical operators in python are used to perform logical operations on Boolean values. The main logical operators are: and , or ,and not.
 * and: Returns Ture if both operands are True ,otherwise returns false.

 * or: Retruns Ture if at least one of the operands is , otherwise returns False.

 * not: Returns the opposite boolean vale of the operand is Ture ,it returns False , and vice vesa.

In [ ]:
x = True
y = False
print(x and y)

False

In [ ]:
print(x or y)

True

In [ ]:
print(not x)

False

9. What is type casting in Python?
-> Type casting type conversion the process of changing the data type of a value object why ? while executing / computation using operators, there can be mismatch between the data type.
Ex -:

In [ ]:
a = "2"
b = 3
type(a)

str

In [ ]:
int(a) + b

5

In [ ]:
print(type(a))

<class 'str'>

In [ ]:
print(type(int(a)))

<class 'int'>

10. What is the difference between implicit and explicit type casting?
-> Type casting implicit and explicit difference .
Implicit type casting
(1) Implicit typecasting is done automatically.
(2) in this, no data loss take place during data conversion.
(3) Implicit conversion donot require any special syntax.
 Example:- int a = 42; float b = a;
Here b will contain typecast value of a, because while assiging value to b  explane typecast the value of a into floaty than assigns it to b.

Explicit typecasting
(1) It is done programatically.
(2) In this, data loss may or may not be take place. Hence there is risk of information loss.
(3) Explicit type casting requrie cast operator to perform conversion.
Example:- Float a = 44.12; int b = (int)a;
Here we explicitly converted float value of a into int while assigning it to int b . (int) is the type casting operator with the type in which you wants to convert.

11. What is the purpose of conditional statements in Python?
 -> The purpose of a conditional statement is to control the flow of a program by executing blocks of code depending on whether a condition is true or false.
 they helpe the program make decisions using keywoards like:
 If , elif(else if) , else
 Example:

In [ ]:
age = 12
if age>= 18:print("please have a driving license and drive ")
else:
  print("don't drive")

don't drive

12. How does the elif statement work?
-> the elif statement in python stands for "else if" and is used to check multiple condition. It only run if the if condition is false and its own condition is true.

In [ ]:
age = 66
if age < 18:
  print("You are minority")
elif 18<age<=65:
  print("You are adult")
else:
  print("You are senior citizen")

You are senior citizen

13. What is the difference between for and while loops?
-> Difference between for and while loops
for loop
- For loop is used to iterate over a sequence of elements.
- for loop allows a programmer to execute a sequence of statements several times.
- It iterates infinite time if no condition is given.
Syntax:
for(initialization condition; increment/decrement)

While loop
- While loop is used to repat a block of code .
- While loop allows a programmer to repeat a single statement or a group of statement for the Ture condtion.
- It shows an error if the no condition is given.
Syntax:
while (boolean condition )
loop statements...

14 Describe a scenario where a while loop is more suitable than a for loop.
-> A while loop is more suitable than a for loop when the number of iterations is not known advance and depends on a condition that must be evaluated dynamically during runtime.

Practical Questions

1. Write a Python program to print "Hello, World"!

In [ ]:
print("Hello World")
type(a)

Hello World

int

2. Write a Python program that displays your name and age.

In [ ]:
name = "Gaurav Tiwari"
age = "22"
print("My name is" , name)
print("I am", age , "years old")

My name is Gaurav Tiwari
I am 22 years old

3.Write code to print all the pre-defined keywords in Python using the keyword library?

In [ ]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

4. Write a program that checks if a given word is a Python keyword?
-> give a program that python keyword. Here's a simple program that does this:

In [ ]:
a = "3.5"
type(a)

str

In [ ]:
bool(a)

True

In [ ]:
float(a)

3.5

5. Create a list and tuple in Python, and demonstrate how attempting to change an element works differently
for each.
- here's how you can do that with a simple example:

In [ ]:
# Creating a list and a tuple
my_list = [1, 2, 3]
my_tuple = (1, 2, 3)
# Modifying an element in the list
my_list[0] = 10
print("Modified list" , my_list)

Modified list [10, 2, 3]

In [ ]:
# Attempting to modify an element in the tuple
try:
  my_tuple[0] = 10

SyntaxError: incomplete input (<ipython-input-2-771d566634a8>, line 3)

6. Write a function to demonstrate the behavior of mutable and immutable arguments.

In [34]:
>>> mutable_obj = ['a', 'b', 'c']
>>> mutable_obj[1] = 'x'
>>> mutable_obj

['a', 'x', 'c']

In [35]:
>>> immutable_obj = ('a', 'b', 'c')
>>> immutable_obj[1] = 'x'
>>> immutable_obj

TypeError: 'tuple' object does not support item assignment

8. Write a program to demonstrate the use of logical operators.

In [ ]:
Logical operators
and, or, not
x = 6
y = 3
x<10 and y>1

True

In [ ]:
OR
x = 6
y = 3
x==5 or y==5

False

In [ ]:
x = 6
y = 3
!(x==y)

9.Write a Python program to convert user input from string to integer, float, and boolean types.

In [ ]:
a = 4
type(a)

int

In [ ]:
b = 4.2
type(b)

float

In [ ]:
c = "ajay"
type(c)

str

In [ ]:
c = True
type(c)

bool

10. Write code to demonstrate type casting with list elements.

In [ ]:
# Example list with mixed data types
mixed_list = [1, 2.5, "3", True]
# Type casting to integers
int_list = [int(x) for x in mixed_list]
print("Integer list:", int_list)

Integer list: [1, 2, 3]

In [ ]:
#Demonstrating with nested list
nested_list =[[1,2.0,"3" ],[False, 1]]
nested_str_list = [[str(y) for y in x] for x in nested_list]
print("Nested String list:", nested_str_list)

Nested String list: [['1', '2.0', '3'], ['False', '1']]

In [ ]:
float_list = [float(x) for x in mixed_list]
print("Float list:", float_list)

Float list: [1.0, 2.5, 3.0]

In [ ]:
str_list = [str(x)for x in mixed_list]
print("String list:",str_list)

String list: ['1', '2.5', '3']

In [ ]:
bool_list = [bool(x) for x in mixed_list]
print("Boolean list:", bool_list)

Boolean list: [True, True, True]

11. Write a program that checks if a number is positive, negative, or zero.

In [ ]:
# Check if a number is positive, negative, or zero
# Get input from the user
number = float(input("Enter a number: "))
# Check the condtion
if number > 0:
  print("The numbernis positive.")
elif number < 0:
  print("The number is negative.")
else:
  print("The number is zero.")

Enter a number: -4
The number is negative.

12.  Write a for loop to print numbers from 1 to 10.

In [ ]:
for i in range (1, 11):
  print(i)

1
2
3
4
5
6
7
8
9
10

13. Write a Python program to find the sum of all even numbers between 1 and 50.

In [ ]:
# Initialize the sum
total = 0
for number in range(1, 50):
  if number %2 == 0:
    total += number
    print("The sum of all even numbers between 1 and 50 is:", total)

The sum of all even numbers between 1 and 50 is: 2
The sum of all even numbers between 1 and 50 is: 6
The sum of all even numbers between 1 and 50 is: 12
The sum of all even numbers between 1 and 50 is: 20
The sum of all even numbers between 1 and 50 is: 30
The sum of all even numbers between 1 and 50 is: 42
The sum of all even numbers between 1 and 50 is: 56
The sum of all even numbers between 1 and 50 is: 72
The sum of all even numbers between 1 and 50 is: 90
The sum of all even numbers between 1 and 50 is: 110
The sum of all even numbers between 1 and 50 is: 132
The sum of all even numbers between 1 and 50 is: 156
The sum of all even numbers between 1 and 50 is: 182
The sum of all even numbers between 1 and 50 is: 210
The sum of all even numbers between 1 and 50 is: 240
The sum of all even numbers between 1 and 50 is: 272
The sum of all even numbers between 1 and 50 is: 306
The sum of all even numbers between 1 and 50 is: 342
The sum of all even numbers between 1 and 50 is: 380
The sum of all even numbers between 1 and 50 is: 420
The sum of all even numbers between 1 and 50 is: 462
The sum of all even numbers between 1 and 50 is: 506
The sum of all even numbers between 1 and 50 is: 552
The sum of all even numbers between 1 and 50 is: 600

14. Write a program to reverse a string using a while loop.

In [33]:
def reverse_string(s):
    reversed_s = ""
    length = len(s) - 1
    while length >= 0:
        reversed_s += s[length]
        length -= 1
    return reversed_s

input_string = "Hello, World!"
reversed_string = reverse_string(input_string)
print(reversed_string)

!dlroW ,olleH

15. Write a Python program to calculate the factorial of a number provided by the user using a while loop.

In [32]:
number = int(input("Enter a non-negative integer: "))
factorial = 1

if number < 0:
    print("Factorial is not defined for negative numbers.")
elif number == 0:
    print("The factorial of 0 is 1")
else:
    while number > 0:
        factorial *= number
        number -= 1
    print("The factorial is", factorial)

Enter a non-negative integer: 4
The factorial is 24